<div class="row social">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <a href="#"><img src="img/github.svg" alt=""></a>
        <a href="#"><img src="img/twitter.svg" alt=""></a>
        <a href="#"><img src="img/linkedin.svg" alt=""></a>
    </div>
    <div class="col-md-4">
    </div>
</div>

<hr>

<div class="row footer">
    <div class="col-md-12">
        <p class="text-center">Copyrights © 2015 | Jonathan Torres | Views are my own buddy </p>
    </div>
</div>
