/**
 * Main intro area
 */
.main-intro {
    img {
        @include desktop {
            width: 205px;
            margin-top: 30px;
        }
    }

    h1 {
        font-size: 2.2em;
        text-align: center;

        .red {
            display: block;
        }

        @include tablet {
            font-size: 3em;

            .red {
                display: inline;
            }
        }

        @include desktop {
            font-size: 4em;
            text-align: left;

            .red {
                display: inline;
            }
        }
    }

    .lead {
        text-align: center;

        @include desktop {
            text-align: left;
        }
    }
}
