/**
 * Main navigation area
 */
.navbar {
    background: url(../img/nav_bg.jpg) #000 repeat;
    min-height: 40px;
    border: none;

    .main-logo {
        color: #ccc;
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 1.5em;

        &:hover {
            color: #ccc;
        }
    }

    .navbar-nav {
        margin: 0px -15px;

        li {
            &:hover {
                .marker {
                    @include desktop {
                        display: block;
                    }

                    .prog {
                        width: 100%;
                    }
                }
            }

            .marker {
                height: 3px;
                background: #303030;
                display: none;

                @include desktop {
                    display: block;
                }

                .prog {
                    width: 15%;
                    height: inherit;
                    background: #ff0000;
                    @include transition(width .3s);
                }
            }
        }
    }

    .navbar-nav a, .navbar-nav a:active, .navbar-nav a:visited {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        color: #ccc;

        &:hover {
            color: #fff;
            background-color: transparent;
        }
    }
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ccc;
}

.nav > li > a {
    padding: 10px 15px 10px 0px;

    @include desktop {
        padding: 8px 0px 1px 0px;
    }
}

.navbar-brand {
    height: 40px;
    padding: 10px 10px;
}

.navbar-toggle {
    padding: 4px 5px;

    .icon-bar {
        width: 20px;
    }
}
